default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch('RAILS_MAX_THREADS') { 5 } %>
  username: <%= ENV.fetch('POSTGRES_USER') { 'postgres' } %>
  password: <%= ENV.fetch('POSTGRES_PASSWORD') { 'sinclair' } %>
  host: <%= ENV.fetch('POSTGRES_HOST') { 'db' } %>


development:
  <<: *default
  database: wind-api_dev

staging:
  <<: *default
  database: wind-api_stg

test:
  <<: *default
  database: wind-api_test
